@using CentrosDeportivos.Models
@model PayMethodViewModel
@{
    ViewBag.Title = "PayMethod";
    var sport = ViewData["id_sport"];
    var field = ViewData["id_field"];
    var date = ViewData["date"];
    var time = ViewData["time"];
}

<h2>Método de pago</h2>
<p>Selecciona el método de pago para finalizar la reserva. Puedes pagar con tarjeta, o efectivo (en cuyo paso se pagará en el centro)</p>

<div class="pay-method-container">
    <section id="registerForm">
        @using (Html.BeginForm("PayMethod", "Booking", FormMethod.Post, new {role = "form" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.DropDownListFor(m => m.PayMethod, new SelectList(
                    new List<object>
                    {
                        new{ value= "Selecciona el método de pago", text ="Selecciona el método de pago"},
                        new{ value= "Tarjeta de crédito", text="Tarjeta de crédito"},
                        new{ value= "Cuenta bancaria", text="Cuenta bancaria"},
                        new{ value= "En efectivo", text="En efectivo"}
                    }, "value", "text", 1
                ), new { @class = "form-control", @id="pay-method-list"})
            </div>
            <div class="credit-card form-group" hidden="hidden">
                @Html.LabelFor(m => m.CreditCard)
                @Html.TextBoxFor(m => m.CreditCard, new { @class = "form-control"})
            </div>
            <div class="iban form-group" hidden="hidden">
                @Html.LabelFor(m => m.Iban)
                @Html.TextBoxFor(m => m.Iban, new { @class = "form-control" })
            </div>
            <input type="submit" class="btn btn-primary" value="Procesar reserva" />
        }
    </section>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/PayMethod.js")
    @Scripts.Render("~/bundles/jqueryval")
}
