@using CentrosDeportivos.Models
@model RegisterViewModel

@{
    ViewBag.Title = "Register";
}
@Styles.Render("~/Content/register.css")

<h2 class="title">Register</h2>

<div class="row">

    <section id="registerForm">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Empieza a aprovecharte de las ventajas de InstaSport.</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DNI, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.DNI, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DNI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
           
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="col-md-10"><input class="btn btn-primary" type="submit" value="Registrar" /></div>
                </div>
            </div>
        }

    </section>





</div>
